@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

body{
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    widthÇ 100vw;
}

input, select, button{
    height: 2rem;
}

input{
    padding: 0.5rem;
}

img{
    height: 1.25rem;
    filter: brightness(0) saturate(100%) invert(20%) sepia(77%) saturate(2803%) hue-rotate(175deg) brightness(101%) contrast(104%);
}

.Logo{
    padding-left: 6rem;
    height:8rem;
    filter: none;
}

header{
    display:flex;
    align-items:center;
    justify-content: space-between;
    background-color: #0A2645;
    width:100%;
    height: 10rem;
}

header button{
    display:flex;
    color: #F2F2F2;
    cursor: pointer;
    background: transparent;
    border: none;
    margin-right: 2rem;
    margin-top: 7rem;
}

/*Main*/
.Container{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    border: 3px solid (#F2F2F2);
    border-radius: 10px;
    width: 90%;
    margin: 5rem;
    padding: 2rem;
    -webkit-box-shadow: 0px 0px 42px -7px rgba(0,0,0,0.66);
    -moz-box-shadow: 0px 0px 42px -7px rgba(0,0,0,0.66);
    box-shadow: 0px 0px 42px -7px rgba(0,0,0,0.66);
}

/*Barra URL*/
.URL{
    display:flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width:100%;
}

.URLBar{
    width:100%;
}
.URLBar select{
    width:10%;
}

.URLBar input{
    width: 80%;
}

.URLBar button{
    width:5%;
    border: none;
    background-color: #007193;
    color: #F2F2F2;
    border-radius: 3px;
}
.URLBar button:hover{
    background-color: #00A09A;
}

/* Info do teste*/

.TestOpt{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    margin-top: 2.5rem;
}

.TestOpt label{
    display: flex;
    flex-direction: column;
}

/* Request Options*/

.RequestOptions{
    display:flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 100%;
    margin-top: 2.5rem;
}

.HttpVersion select{
    width: 100%;
}

.Check{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.TimeOut input{
    width: 10%;
}

.NameValue{
    display: flex;
    align-items: start;
    width: 100%;
}

.NameField{
    width: 30%;
}

.ValueField{
    width: 70%;
}

.NameValue img{
    height: 1.25rem;
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(20%) sepia(77%) saturate(2803%) hue-rotate(175deg) brightness(101%) contrast(104%);
}

.NameValue img:hover{
    filter: brightness(0) saturate(100%) invert(58%) sepia(66%) saturate(7227%) hue-rotate(155deg) brightness(99%) contrast(101%);
}

.NameValue .Trash:hover{
    filter: brightness(0) saturate(100%) invert(69%) sepia(76%) saturate(6853%) hue-rotate(328deg) brightness(88%) contrast(111%);
}

.Cookies{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.Cookies input{
    width: 100%;
    height: 4rem;
}

/* Autenticacao*/

.Authentication{
    display:flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 100%;
    margin-top: 2.5rem;
    gap: 0.5rem;
}

.Authentication label{
    width: 100%;
}

.Authentication button{
    height: 1.5rem;
    padding: 0.25rem;
    font-size: 0.75rem;
    cursor: pointer;
}

.Authentication img{
    height: 0.75rem;
}

/* Query */

.QueryParams{
    display:flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 100%;
    margin-top: 2.5rem;
}

#qpInfo{
    font-size: 0.9rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

/* Request Body*/
.RequestBody{
    display:flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 100%;
    margin-top: 2.5rem;
}

.RequestBody label{
    display:flex;
    flex-direction: column;
    margin-bottom: 0.75rem;
}

.RequestBody form{
    display:flex;
    flex-direction: column;
}

/* Proxy*/
.Proxy{
    display:flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 100%;
    margin-top: 2.5rem;
    gap: 1rem;
}

.Proxy p{
    margin-bottom: -1rem;
}

/* Privacy */
.Privacy{
    display:flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 100%;
    margin-top: 2.5rem;
}
