<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Home</title>
    <link rel="stylesheet" href="/css/homeStyles.css">
</head>
<body>
    <header>
        <img src="/LKM-logo.png" alt="LKM"/>
    </header>
    <div class="Container">
        <div class="Container-esq">
            <strong>Altere a senha!</strong>
        </div>
        <div class="Container-dir">
            <form class="Change-passwd" action="/reSignIn" method="post">
                <input type="password" name="newPassword" placeholder="Digite a nova Senha"><br>
                <input type="password" name="newPasswordCheck" placeholder="Digite novamente a nova senha"><br>
                <button type="submit">Atualizar senha</button>
            </form>
        </div>
    </div>
</body>
</html>