<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Login LKM</title>
    <link rel="icon" href="/LKM-logo.png"/>
    <link rel="stylesheet" href="/css/indexStyles.css"/>
</head>
<body>
<div class="Container">
    <div class="Container-esq">
        <img src="/LKM-logo.png" alt="LKM"/>
        <form class="Login-pad" action="/LKM" method="post">
            <input type="text" name="username" placeholder="Usuário"><br>
            <input type="password" name="password" placeholder="Senha"><br>
            <button type="submit">Login</button>
        </form>
    </div>
    <div class="Container-dir">
        <strong>Usuario default:</strong>
        <strong>"admin"</strong>
        <strong>Senha default:</strong>
        <strong>"admin"</strong>
    </div>
</div>
</body>
</html>
